@import "../../global-style/colors.scss";

.table-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6% 88% 6%;
  height: 100vh;
  &-header {
    display: grid;
    grid-row: 1;
    grid-template-columns: 5% 20% 25% 20% 15% auto;
    background-color: $dark;
    color: $white-light;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &-body {
    grid-row: 2;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-body-items {
    color: $white-light;
    grid-template-columns: 5% 20% 25% 20% 15% auto;
    display: grid;
    border-bottom: solid 1px $white-light;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &-body-items:hover {
    background-color: $dark-light;
    cursor: pointer;
  }
  &-body-items-btn {
    width: 130px;
  }

  &-footer {
    grid-row: 3;
    background-color: $dark;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
}

.task-info {
  grid-template-rows: 1fr;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 30%;
  overflow: hidden;
  &-back-button {
    cursor: pointer;
    color: $white-light;
    padding-bottom: 22px;
  }
  &-back-button:hover {
    color: $red-light;
  }

  &-back-button::before {
    padding-right: 5px;
    content: "<";
  }

  &-title-name {
    padding: 16px 0 16px 0;
    color: $white-light;
  }

  &-body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &-title {
      padding: 8px 0;
      color: $white-light;
      font-weight: 200;
      font-size: 14px;
    }

    &-title-status {
      padding: 8px 0;
      font-weight: 200;
      display: grid;
      font-size: 14px;
      grid-template-columns: 1fr auto auto;
      color: $white-light;
      cursor: pointer;

      &-edit {
        padding-left: 10px;
      }
    }

    &-descripsion {
      margin-left: 5px;
      font-weight: 600;
    }


  }
&-hr{
  margin-top:22px;
  
}
  &-title-comment {
    color: $white-light;
    padding: 16px 0 22px 0;
  }

  &-comment {
    &-style {
      overflow-y: auto;
      outline: none;
      height: 140px;
      width: 100%;
      resize: none;
      font-size: 14px;
    }
    &-text {
      display: block;
      list-style: none;
      overflow-y: auto;
      overflow-x: hidden;
      outline: none;
      width: 100%;
      word-break: break-all;
      color: $dark;
    }

    &-text li {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 10px;
      width: 100%;
      background: $white-light;
      font-size: 10px;
      word-break: break-all;
    }
  }
  &-button-postion {
    margin-top: 16px;
  }
  &-right-menu {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px;
    background-color: $dark-light;
  }
  &-left-menu {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px;
  }
}
.task-text-not-found{
  &-postion {
    text-align: center;
    margin-top: 24%;
  }
}

