@import "../global-style/colors.scss";
.g-login-input {
  border: none;
  border-radius: 35px;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: $red-light;
  width: 60%;
  height: 35px;
  padding: 0 15px;

  &:-webkit-autofill {
    -webkit-text-fill-color: $red-light !important;
    -webkit-box-shadow: 0 0 0px 1000px $dark inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  &:hover {
    box-shadow: $red-light 0px 1px 2px, $red-light 0px 0px 0px 2px;
  }

  &::placeholder {
    color: $red-light;
  }
}

.g-btn-login {
  background: none;
  border: solid 2px $red-light;
  border-radius: 35px;
  height: 35px;
  text-transform: uppercase;
  width: 130px;
  outline: none;
  color: $red-light;

  &:hover {
    color: $white-light;
    cursor: pointer;
    background: $red-light;
  }
}
.g-btn-actyve  {
  width: 140px;
  border: solid 2px $red-light;
  height: 35px;
  outline: none;
  background-color: $red-light;
  color: $white;
  cursor: pointer !important;
}

.g-btn  {
  width: 140px;
  border: solid 2px $red-light;
  color: $red-light;
  height: 35px;
  background-color: $dark;
  outline: none;
  cursor: pointer !important;
}
