@import "../global-style/colors.scss";

.g-btn-right-register{
  background: none;
  color: $red-light;
  outline: none;
  border: none;
  padding: 6px 16px 0 16px;
  cursor: pointer;
  &::before{
    padding-right: 4px;
    content: '<';
  }
}
.g-btn-right-login{
  background: none;
  color: $red-light;
  outline: none;
  border: none;
  padding: 16px;
  cursor: pointer;
  &::after{
    padding-left: 4px;
    content: '>';
  }
}
.g-login-input {
  border: none;
  border-radius: 35px;
  outline:none;
  background: rgba(255, 255, 255, 0.15);
  color: $red-light;
  height: 35px;
  padding: 0 0 0 15px;
  &:focus{
    box-shadow: 0px 0px 0px 2px $red-light ;
  }
  &:-webkit-autofill {
    -webkit-text-fill-color: $red-light !important;
    -webkit-box-shadow: 0 0 0px 1000px $dark inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  &:hover {
    box-shadow: $red-light 0px 1px 2px, $red-light 0px 0px 0px 2px;
  }

  &::placeholder {
    color: $red-light;
  }
}

.g-btn-login {
  background: none;
  border: solid 2px $red-light;
  border-radius: 35px;
  height: 35px;
  text-transform: uppercase;
  width: 130px;
  outline: none;
  color: $red-light;
  &:hover {
    color: $white-light;
    cursor: pointer;
    background: $red-light;
  }
}
.g-btn-actyve  {
  width: 140px;
  border: solid 2px $red-light;
  height: 35px;
  outline: none;
  background-color: $red-light;
  color: $white;
  cursor: pointer !important;
}
.g-btn-comment{
  width: 140px;
  border: solid 2px $red-light;
  color: $red-light;
  height: 35px;
  background-color: $dark;
  outline: none;
  text-align: center;
 &:hover{
  color: $white-light;
  cursor: pointer;
  background: $red-light;
 }
}
.g-btn  {
  width: 140px;
  border: solid 2px $red-light;
  color: $red-light;
  height: 35px;
  background-color: $dark;
  outline: none;
  cursor: pointer !important;
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: $white-light ;
  color:$dark-light;
  text-align: center;
  padding: 5px 10px;
  border-radius: 15px;
  position: absolute;
  z-index: 6;
  bottom: -130%;
  left: 15%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}