$red-light: #fe4066;
$white-light: #dddddd;
$dark-light: #232426;
$dark: #444546;
$black: #000000;
$white: #ffffff;
$dark-blue: #313a46;
$violet: #727cf5;

.dark-light {
  color: $dark-light !important;
}
.black {
  color: $black !important;
}
.white-light {
  color: $white-light !important;
}
.dark {
  color: $dark !important;
}
.red-light {
  color: $red-light !important;
}
