@import "../../global-style/colors.scss";

.home {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  &-grid-one {
    grid-column: 1 / 2;
    background-color: $dark-light;
  }

  &-grid-two {
    grid-column: 2 / 4;
    overflow-y: auto;
    background-color: $dark;
  }
}
