.left-section {
    /* padding:24px; */
    /* display:flex; */
    /* flex-direction: column; */
    background-color: rgb(236, 229, 230);
    height: 100%
}
.left-section ul li{
    /* font-weight: 900; */
    /* font-size: 16px; */
    list-style: none;
    color:#000;
    /* margin-bottom:14px; */

}