.wrapper-home {
display:grid;
grid-template-columns: 20% 80%;
}

.nav {
    background:#fe4066;
    color:white;
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height:45px;
    grid-column: span 2;
}
.nav-1 {
    padding-right:10px;
    text-align: right;
}


.nav-2 ul {
    list-style: none;
    width: 100%;
    display:flex;
}
.nav-2 ul li:first-child {

    padding-left: 24px;
}
.nav-2 ul li {

    padding-right: 24px;
}
.table-wrap {
  
border-collapse:collapse;
margin:10px;
width:100%;
}
.table-wrap tbody{
    margin: 100px ;
} 
.task-row td {
    padding:14px;
    
 
}

.task-header th {
    text-align: left;
    border:1px solid rgb(204, 200, 200); 
    padding:5px;
    background:lightgray
}
tbody:nth-child(even) {
    background: rgb(248, 241, 241); 
}



