@import "../../global-style/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.header {
  display:flex;
  justify-content: space-evenly;
  margin-top: 50px;
  
  img {
    height:70px;
    border:3px solid $white-light;
    border-radius:50px;
  }
  h2 {
    letter-spacing: 1px;
    color:$white-light;
  }
}

.navbar {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  color: $white-light;
  grid-template-rows: 1fr;
  height: 84vh;
  position: relative;
  width: 275px;
  &-search-center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: flex-start;
  }
  &-search-style{
    outline: none;
    background-color: #eef2f7;
    color: $dark;
    font-weight: 600;
    border:none;
    padding:12px;
    border-radius:2px;
    width:95%;
    box-shadow:8px 6px 15px -7px rgba(0,0,0,0.7)
  }
  &-search-icon:hover{
    filter: drop-shadow(16px 16px 20px red) invert(75%);
  }

  &-searchbar{
    margin:0px 20px;
  }
  &-footer{
    margin:20px 20px 16px 20px;
  }
  &-footer:hover:before {
    width: 50% !important;
  }
  &-design:before {
    content: "";
    width: 0;
    position: absolute;
    padding-top: 25px;
    border-bottom: solid 2px $red-light;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
  &-design:hover:before {
    width: 100%;
  }
  &-design:hover {
    color: $red-light;
  }

  &-icon-postion {
    margin-right: 10px;
  }
  &-menu-one {
    margin: 0 16px 0 16px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr auto;
    grid-gap: 30px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  a {
    color: $white-light;
  }
}

.overlay-createIssue {
  background: #707070;
  opacity: 0.9;
  width: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.createIssue {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: $dark-blue;
  width: 500px;
  height: auto;
  z-index: 1;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 3px 3px 3px 3px rgba(95, 95, 95, 0.158);
  &-close-button {
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 22px;
    right: 0;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px;
    cursor: pointer;
    &::after,
    &::before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 16px;
      height: 2px;
      background: $red-light;
      transform: rotate(45deg);
      border-radius: 5px;
      top: 15px;
      right: 8px;
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &-name {
    text-transform: uppercase;
    color: $white-light;
    padding: 0 0 15px 0;
  }

  &-name::after {
    content: "";
    border-bottom: 2px solid $red-light;
    margin-top: 14px;
    width: 100%;
    display: block;
  }

  &-grid-createIssue {
    text-align: left;
    padding: 20px 20px 20px 20px;
  }

  &-body {
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    margin-bottom: 22px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  &-input-label {
    color: $dark;
  }

  &-input-design-textarea {
    width: 440px;
    outline: none;
    resize: none;
    border: solid 1px $white-light;
    padding: 8px;
    color: $dark;
    overflow: auto;
    height: 70px;
  }

  &-input-button-postion {
    margin-right: 22px;
  }
  &-input-design {
    width: 440px;
    padding: 8px;
    background-color: none;
    outline: none;
    color: $dark;
    border: solid 1px $white-light;
  }
  &-input-design-option {
    width: 458px !important;
  }

  &-input-design option {
    height: 200px !important;
    font-size: 18px;
    font-weight: 600;
    width: 90%;
    background: $dark;
    color: $red-light;
  }
}

.error-name {
  padding: 5px 10px 10px 10px;
  color: $red-light;
}

.searchValue {
  animation-name: ani;
  animation-duration:3s;
  color: $white-light;
  font-weight: 200;
}

@keyframes ani {
  from {
    color:$dark;
  }
  to {
    color:$white-light;
  }
}

.currentUser {
  padding:10px;
  color:$white-light;
  font-size:18px;
  margin:0;
  margin-left:10px;
  font-weight: normal;
  display: flex;
  font-family: 'Poppins', sans-serif;
  


  span {
    color:$red-light;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left:10px;
    margin-right:10px;
   
  }

  .logo {
    background:rgb(182, 181, 181);
    height:60px;
    width:60px;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:24pt;
    margin-top:5px;
    margin-bottom:20px;
    margin-right:20px;
    color:white;
    text-transform: uppercase;
    box-shadow:8px 6px 15px -7px rgba(0,0,0,0.7);

  }
  
}


