@import "../../global-style/colors.scss";
.main-error {
  display: grid;
  position: relative;
  height: 100vh;
  &-postion {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-text-header {
    font-size: 20vw;
    font-weight: 600;
    max-height: 20vw;
    font-family: sans-serif;
  }
  &-text-name {
    font-size: 3vw;
    border-top:solid 0.5vw $red-light;
    font-weight: 600;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-top:  1vw;
  }
  &-text-descripstion {
    font-size: 1.5vw;
    font-weight: 600;
    font-family: sans-serif;
    padding-bottom: 1.5vw;
    border-bottom:solid 0.5vw $red-light;
  }
}
