@import "./global-style/colors.scss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark-light;
}

ul,
table {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

::-webkit-scrollbar-track {
  background: transparent;

}

::-webkit-scrollbar-thumb {
  background: $red-light;
  border-radius: 10px;
  cursor: pointer;
}
